.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 15px; */
  /* gap: 15px; */
  background-color: #117b34;
  outline: 3px #117b34 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
  height: 25px;
  width: 70px;
}

.button .text {
  color: white;
  /* font-weight: 700; */
  font-size: 9px;
  transition: 400ms;
  margin: 0;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #117b34;
}
