.card-img {
  width: 100%;
  height: 200px;
}

.card {
  width: 95%;
  height: 380px;
  background: #ffffffff;
  border-radius: 6px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Displays 4 cards in each row */
  gap: 10px;
}

.card-font {
  font-size: 18px;
}

.card-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.card-rating {
  display: flex;
}

.card-rating-request {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
